body{
    background-color: beige;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: aliceblue;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 25px;
    width: 300px;
    max-width: 100%;
}
form{
    display: flex;
    flex-direction: column;
}
button{
    background-color: blue;
    color: white;
    border-radius: 15px;
    margin-top: 5px;
}
button:hover{
    background-color: red;
}
input:focus{
    background-color: blue;
    color: white;
}